<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
        {% if page.usemath == "katex" %}
            {% include katex.html %}
        {% elsif page.usemath == "mathjax" %}
            {% include mathjax.html %}
        {% endif %}
        {% feed_meta %}
        {% seo %}
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>